.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

/* .post header {} estilizaria TODOS os headers dentro do post
.post > header {} estiliza apenas o header DIRETO do elemento que contém a class .post */
.post > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.authorInfo strong {
  color: var(--gray-100);
  line-height: 1.6;

  display: block;
}

.authorInfo span {
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--gray-400);

  display: block;
}

.post time {
  font-size: 0.875rem;
  color: var(--green-400);
}

/* Estilizar todo post que contenha um post antes dele 
  o primeiro não sofrerá alterações */
.post + .post {
  margin-top: 2rem;
}

/* ----------------- CONTENT ----------------- */

.content {
  margin-top: 1.5rem;

  color: var(--gray-300);
  line-height: 1.6;
}

.content p {
  margin-top: 1rem;
}

.content p a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content p a:hover {
  color: var(--green-300);
}

/* ----------- COMMENT FORM -------------- */

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  height: 6rem;
  width: 100%;
  padding: 1rem;

  background-color: var(--gray-900);
  border: 0;
  border-radius: 8px;
  resize: none;

  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  max-height: 0;
  visibility: hidden;
}

/* Se o foco estiver em qualquer elemento dentro da classe .commentForm, irá ser aplicado as props */
.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;

  border-radius: 8px;
  border: 0;
  background-color: var(--green-500);

  color: var(--white);
  font-weight: bold;

  cursor: pointer;
  transition: background-color 0.2s;
}

.commentForm button[type="submit"]:disabled {
  opacity: 0.6;
}

.commentForm button[type="submit"]:not(disabled):hover {
  background-color: var(--green-300);
}

.commentList {
  margin-top: 2rem;
}
