.sidebar {
  background-color: var(--gray-800);
  border-radius: 8px;

  /* Força os conteúdos a se adequarem ao parent element */
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 72px;
  object-fit: fill;

  /* Ajusta a imagem para não se auto-comprimir */
}
